aiohttp==2.0.7
async-timeout==1.2.1
certifi==2017.4.17
chardet==3.0.3
django==1.11.4
future==0.16.0
idna==2.5
multidict==2.1.5
olefile==0.44
Pillow==9.0.1
pprint==0.1
PyMySQL==0.7.11
pypng==0.0.18
python-telegram-bot==6.0.3
pytz==2017.2
qrtools==0.0.2
requests==2.18.4
telepot==11.0
urllib3==1.21.1
virtualenv==15.1.0
yarl==0.10.2
